#MainMenu
{
	padding-bottom: 3em;
}

#MainMenu li
{
	border-color: #000000;
	border-left-style: solid;
	border-width: 1px;
	float: left;
	font-family: Verdana, sans-serif;
	font-size: 80%;
	height: 4em;
	list-style: none;
	padding-left: 0.5em;
	padding-right: 2em;
}

#MainMenu a, h4.title
{
	font-weight: 700;
}

#MainMenu a, h4.title a, #MainMenu a:visited, h4.title a:visited, article h4 a, article h4 a:visited
{
	color: #000000;
	text-decoration: none;
}

#MainMenu a:hover, h4.title a:hover, article h4 a:hover
{
	text-decoration: underline;
}









